---
layout: blog 
title: Blog
pagination: 
  enabled: true
---
<h1>Latest Posts </h1>

<ul>
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class ="pagination">
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo;</a>
  </li>
  {% else %}
    <li>
      <a href="#" class="disabled">&laquo;</a>
    </li>
  {% endif %}
  {% if paginator.page == 1 %}
      <li class="active">
        <a href="#">1</a>
      </li>
    {% else %}
      <li>
        <a href="/blog">1</a>
      </li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="active">
          <a href="#">{{count}}</a>
        </li>
      {% else %}
        <li>
          <a href="/blog/blog/page/{{count}}">{{count}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&raquo;</a>
  </li>
  {% else %}
    <li>
      <a href="#" class="disabled">&raquo;</a>
    </li>
  {% endif %}
</ul>
</div>
{% endif %}

