.navbar-default {
  color: #FFF;
  background-color: #559FEA;
  border-color: #559FEA;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover  {
  color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: #AECCEA;
}
.menu-container {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 4vmin;
  margin: 0px 10px 0px 10px;
}

.main-container {
  background-color: #31708E;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left title right"
    "left whoiam right";
  grid-gap: 10px;
}


.title-one {
  grid-area: title;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 20vmin;
  text-align: center;
  margin: 1vw 0 1vw 0;
  line-height: 100%;
}

.subtitle {
  color: white;
  font-family: Source Sans Pro;
  font-size: 2vmin;
  text-align: center;
  margin-top: 0.5vmin;
  line-height: normal;
}

.subtitle hr {
  width: 90%;
  height: 0.5vmin;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyright {
  grid-area: whoiam;
  font-family: Source Sans Pro;
  font-size: 10px;
  line-height: 18px;
  color: #FFF;
}

.nineties {
  grid-area: whoiam;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 18px;
  color: #6231c2;
}

@media (max-width: 666px) {
  .about-container {
    background-color: #328DAA;
    padding-top: calc(constant(safe-area-inset-top) + 40px);
    padding-top: calc(env(safe-area-inset-top) + 40px);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text right"
      "left pic right"
      "footer footer footer";
    grid-row-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 667px) {
  .about-container {
    background-color: #328DAA;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "text pic"
      "footer footer";
    grid-column-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 767px) and (max-width: 991px){
  .about-container {
    background-color: #328DAA;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "pic text"
      "footer footer";
    grid-column-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
    padding: 20px;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding: 80px;
  }
}

@media (min-width: 992px) {
  .about-container {
    background-color: #328DAA;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head head"
      "left pic text text"
      "footer footer footer footer";
    grid-column-gap: 30px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 400px;
    height: 400px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding-right: 80px;
  }
}

.title-story {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: bolder;
  font-size: 10vmin;
  text-align: left;
  margin-bottom: 1vw;
  line-height: 100%;
}

.subtitle-story {
  color: white;
  font-family: Source Sans Pro;
  font-size: 3vmin;
  text-align: justify;
  margin-top: 2vw;
}

.story hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 666px) {
  .career-container {
    background-color: #022140;
    padding-top: calc(constant(safe-area-inset-top) + 40px);
    padding-top: calc(env(safe-area-inset-top) + 40px);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text right"
      "left pic right"
      "footer footer footer";
    grid-row-gap: 20px;
  }

  .career-pic-container {
    grid-area: pic;
  }

  .career-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .career-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 667px) {
  .career-container {
    background-color: #022140;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "text pic"
      "footer footer";
    grid-column-gap: 20px;
  }

  .career-pic-container {
    grid-area: pic;
  }

  .career-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .career-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 767px) and (max-width: 991px){
  .career-container {
    background-color: #022140;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "pic text"
      "footer footer";
    grid-column-gap: 20px;
  }

  .career-pic-container {
    grid-area: pic;
    padding: 20px;
  }

  .career-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .career-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding: 80px;
  }
}

@media (min-width: 992px) {
  .career-container {
    background-color: #022140;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head head"
      "left pic text text"
      "footer footer footer footer";
    grid-column-gap: 30px;
  }

  .career-pic-container {
    grid-area: pic;
  }

  .career-pic-container img {
    width: 400px;
    height: 400px;
    align-self: center;
  }

  .career-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding-right: 80px;
    font-size: 3vmin;
  }
}

.career-title {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 10vmin;
  text-align: left;
  margin-bottom: 1vmin;
  line-height: 100%;
  max-width: 20vmin;
  padding-top: 80px;
}

.career-text-container hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 666px) {
  .contact-container {
    //background-color: #1E4258;
    background-image: url('images/90s-background.png');
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text right"
      "left pic right"
      "footer footer footer";
    grid-row-gap: 20px;
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    grid-area: pic;
  }

  .contact-pic-container img {
    width: 300px;
    height: 300px;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 667px) {
  .contact-container {
    //background-color: #1E4258;
    background-image: url('images/90s-background.png');
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "text pic"
      "footer footer";
    grid-column-gap: 20px;
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    grid-area: pic;
  }

  .contact-pic-container img {
    width: 300px;
    height: 300px;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 767px) and (max-width: 991px){
  .contact-container {
    //background-color: #1E4258;
    background-image: url('images/90s-background.png');
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "pic text"
      "footer footer";
    grid-column-gap: 20px;
  }

  .contact-pic-container {
    grid-area: pic;
    position: relative;
    display: inline-block;
    margin: 20px;
    //padding: 20px;
  }

  .contact-pic-container img {
    width: 300px;
    height: 300px;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding: 80px;
  }
}

@media (min-width: 992px) {
  .contact-container {
    //background-color: #1E4258;
    background-image: url('images/90s-background.png');
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head head"
      "left pic text text"
      "footer footer footer footer";
    grid-column-gap: 30px;
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    grid-area: pic;
  }

  .contact-pic-container img {
    width: 400px;
    height: 400px;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding-right: 80px;
  }
}


.contact-pic-container .career-pic {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  align-self: center;
}

.contact-pic-container:hover .career-pic {
  display: inline;
}

.contact-title {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 5vmin;
  text-align: left;
  margin-bottom: 1vmin;
  line-height: 100%;
  max-width: 20vmin;
}

.contact-text-container hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-text-container a {
  font-size: 10vmin;
  text-decoration: none;
  color: #6231c2;
}

.contact-text-container > a:focus,
.contact-text-container > a:hover {
  color: #8c52ff;
}


body {
  height: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-row {
  flex: 1;
}

.main-about{
  flex: 1;
}

.main-career {
  flex: 1;
}

.error-container {
  background-color: #31708E;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left title right"
    "left whoiam right";
  grid-gap: 10px;
  background-image: url("images/not_found.png");
}

.error-container a {
  color: #FFFFFF;
  text-decoration: underline;
}

.not-found {
  grid-area: title;
  color: white;
  text-align: center;
  margin: 1vw 0 1vw 0;
  font-style: normal;
  font-weight: 900;
}


.not-found-title {
  font-family: Oswald;
  font-size: 6vmin;
}

.not-found-text {
  font-family: Source Sans Pro;
  font-size: 3vmin;
}
