<section id="about">
  <div class="about-container">
    <div class="story-container">
      <p class="title-story">MY STORY</p>
      <hr />
      <p class="subtitle-story">
        I'm a full stack software engineer with over 13 years of experience, multi-lingual,
        primarly working with Ruby, Java and JavaScript.
        Tech lover with a strong will to learn, study and apply new stuff on challenging and exciting problems.
        I moved to Sheffield - UK from Italy, to work as a Web Team Leader at TheFloow
      </p>
    </div>
    <div class="story-pic-container">
      <img src="images/machintosh_classic.jpg" class="story-pic" alt="Macintosh classic picture"/>
    </div>
  </div>
</section>
