<section id="about">
  <div class="about-container">
    <div class="story-container">
      <p class="subtitle-story">
        Dad and guitar player. Dev by mistake and Ruby lover, full stack software engineer
        with enough experience to say that I played
        <a href="https://en.wikipedia.org/wiki/Space_Invaders" alt="space invaders wikipedia link">
          Space Invaders</a> when it first came out.
        <br />Tech lover with a strong will to learn, study and apply new stuff on challenging and
        exciting problems. <br />I moved to Sheffield - UK from Italy
        <br/>
        <span class="open-challenge">
          Now I'm looking for new challenges!!! Do you have one? 
          <a href="#contact" title="contact Alain">Contact</a> me
        </span>
      </p>
    </div>
    <div class="story-pic-container">
      <img src="images/machintosh_classic.jpg" class="story-pic" alt="Macintosh classic picture"/>
    </div>
  </div>
</section>
