<section id="career">
  <div class="career-container">
    <div class="career-pic-container">
      <img width="300px" height="253" src="https://www.pc-freak.net/images/Pacman.png"
        alt="ascii art on command line pac man"/>
    </div>
    <div class="career-text-container">
      <div>2018 - Now: Web & Platform Team Leader
        <a href="https://www.thefloow.com" target="_blank">The Floow</a> Sheffield </div>
      <div>2017 - 2018: Senior Ruby Developer
        <a href="https://www.radarservices.com" target="_blank"> Radar - Cyber Security </a> Vienna </div>
      <div>2003 - 2018: Freelance Web Developer</div>
    </div>
  </div>
</section>
