<section id="career">
  <div class="career-container">
    <div class="career-pic-container">
      <img src="images/computers_peripheral.jpg" class="career-pic" />
    </div>
    <div class="career-text-container">
      <div>2018 - Current: Web Team Leader - The Floow Sheffield </div>
      <div>2017 - 2018: Senior Ruby Developer - RadarServices Vienna </div>
      <div>2003 - 2018: Freelance Web Developer</div>
      <div class="career-title">
        CAREER
      </div>
      <hr />
    </div>
  </div>
</section>
