<section id="contact">
  <div class="contact-container">
    <div class="contact-pic-container">
      <img src="images/alain_the_floow.jpg" class="career-pic" />
    </div>
    <div class="contact-text-container">
      {% for network in site.social %}
        <a href="{{ network.url }}">
          <i class="fab fa-{{ network.title }}"></i>
        </a>
      {% endfor %}
      <div class="contact-title">
        CONTACT
      </div>
      <hr />
      <p class="copyright">&copy; 1971-{{ "now" | date: "%Y" }} <b>Alain Mauri</b>.
      <br>rev {{ site.github.build_revision }} - {{ "now" | date: "%Y.%m.%d" }}</p>
    </div>
  </div>
</section>
