<div class="garden-header">
  <h1>The Digital Garden</h1>
  <div class="garden-motivation">
    {% include motivation.html %}
  </div>
</div>
<div class="garden-grid">
  <a href="/garden-pages/it-content/directory" title="it and programming resources">
    <div class="garden-item garden-item-borders">
      <h1>IT content</h1>
    </div>
  </a>
  <a href="/garden-pages/science/directory" title="science resources">
    <div class="garden-item garden-item-borders">
      <h1>Science</h1>
    </div>
  </a>
  <!-- change this page because it contains yutube trackers-->
  <a href="#" title="guitar resources">
    <div class="garden-item garden-item-borders">
      <h1>Guitar stuff</h1>
    </div>
  </a>
  <div class="garden-item garden-item-borders">
    <h1>Books</h1>
  </div>
  <a href="/garden-pages/food/directory" title="food resources">
    <div class="garden-item garden-item-borders">
      <h1>Food</h1>
    </div>
  </a>
</div>
