<nav class="navbar navbar-default navbar-fixed-top">
  <div class="menu-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top" title="link to top page">{{ site.title }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a href="#page-top" title="link to top page"></a>
              </li>
              <li class="page-scroll">
                  <a href="#about" title="link to about Alain page">About</a>
              </li>
              <li class="page-scroll">
                  <a href="#career" title="link to Alain career page">Career</a>
              </li>
              <li class="page-scroll">
                  <a href="#contact" title="link to Alain contact page">Contact</a>
              </li>
              <li class="page-scroll">
                  <a href="/digital_garden" title="link to Alain digital garden">Digital Garden</a>
              </li>
              <li class="page-scroll">
                  <a href="/blog" title="link to Alain blog">Blog</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
</nav>
