
<div class="career-text-container">
    <p>
      After reading about the <a href="https://www.technologyreview.com/2020/09/03/1007716/digital-gardens-let-you-cultivate-your-own-little-bit-of-the-internet/" target="_blank" title="digital garden on mit review">digital garden</a> and seeing this tweet
      </p>
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">Nerding hard on digital gardens, personal wikis, and experimental knowledge systems with <a href="https://twitter.com/_jonesian?ref_src=twsrc%5Etfw">@_jonesian</a> today.<br><br>We have an epic collection going, check these out...<br><br>1. <a href="https://twitter.com/tomcritchlow?ref_src=twsrc%5Etfw">@tomcritchlow</a>&#39;s Wikifolders: <a href="https://t.co/QnXw0vzbMG">https://t.co/QnXw0vzbMG</a> <a href="https://t.co/9ri6g9hD93">pic.twitter.com/9ri6g9hD93</a></p>&mdash; Maggie Appleton (@Mappletons) <a href="https://twitter.com/Mappletons/status/1250532315459194880?ref_src=twsrc%5Etfw">April 15, 2020</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <p>
      I've decided to start cultivating my little space. Here is a work in progress collection
      about different things I'm interested in.
    </p>
</div>
