
<div class="career-text-container">
    <p>
      After reading about the <a href="https://www.technologyreview.com/2020/09/03/1007716/digital-gardens-let-you-cultivate-your-own-little-bit-of-the-internet/" target="_blank" title="digital garden on mit review">digital garden</a> and seeing a tweet
      from <a href="https://twitter.com/Mappletons" title="Mappletons twitter profile" target="_blank">@Mappletons</a>
      talking about it <a href="https://twitter.com/Mappletons/status/1250532315459194880" title="digital garden tweet" target="_blank">on April 15, 2020</a>
      </p>
      <p>
      I've decided to start cultivating my little space. Here is a work in progress collection
      about different things I'm interested in.
    </p>
</div>
