@media (max-width: 666px) {
  .about-container {
    background-color: {{ site.mytheme.highcontrast.about }};
    padding-top: calc(constant(safe-area-inset-top) + 40px);
    padding-top: calc(env(safe-area-inset-top) + 40px);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text right"
      "left pic right"
      "footer footer footer";
    grid-row-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 667px) {
  .about-container {
    background-color: {{ site.mytheme.highcontrast.about }};
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "text pic"
      "footer footer";
    grid-column-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
  }
}

@media (min-width: 767px) and (max-width: 991px){
  .about-container {
    background-color: {{ site.mytheme.highcontrast.about }};
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "pic text"
      "footer footer";
    grid-column-gap: 20px;
  }

  .story-pic-container {
    grid-area: pic;
    padding: 20px;
  }

  .story-pic-container img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding: 80px;
  }
}

@media (min-width: 992px) {
  .about-container {
    background-color: {{ site.mytheme.highcontrast.about }};
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head head"
      "left pic text text"
      "footer footer footer footer";
    grid-column-gap: 30px;
  }

  .story-pic-container {
    grid-area: pic;
  }

  .story-pic-container img {
    width: 400px;
    height: 400px;
    align-self: center;
  }

  .story-container {
    grid-area: text;
    color: white;
    font-family: Source Sans Pro;
    padding-right: 80px;
  }
}

.title-story {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: bolder;
  font-size: 10vmin;
  text-align: left;
  margin-bottom: 1vw;
  line-height: 100%;
}

.subtitle-story {
  color: white;
  font-family: Source Sans Pro;
  font-size: 3vmin;
  text-align: justify;
  margin-top: 2vw;
}

.story hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}
