.career-container {
  background-color: {{ site.mytheme.blueaccent.career }};
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left text text"
    "pic pic pic"
    "footer footer footer";
  grid-gap: 10px;
}

@media (min-width: 992px) {
  .career-container {
    background-color: {{ site.mytheme.blueaccent.career }};
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text pic"
      "footer footer footer";
    grid-gap: 10px;
  }
}

.career-pic-container {
  grid-area: pic;
}

.career-pic {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  align-self: flex-start;
}

.career-text-container {
  grid-area: text;
  color: white;
  font-family: Source Sans Pro;
}

.career-title {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 5vmin;
  text-align: left;
  margin-bottom: 1vmin;
  line-height: 100%;
  max-width: 20vmin;
}

.career-text-container hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}
