@media (max-width: 666px) {
  .contact-container {
    background-color: {{ site.mytheme.vibrant.contact }};
    //background-image: url('images/90s-background.png');
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left text right"
      "left pic right"
      "footer footer footer";
    grid-row-gap: var(--spacing-sm);
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: var(--spacing-sm);
    grid-area: pic;
  }

  .contact-pic-container img {
    width: clamp(200px, 30vw, 300px);
    height: clamp(200px, 30vw, 300px);
    max-width: 90%;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
  }
}

@media (min-width: 667px) {
  .contact-container {
    background-color: {{ site.mytheme.vibrant.contact }};
    //background-image: url('images/90s-background.png');
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "text pic"
      "footer footer";
    grid-column-gap: var(--spacing-sm);
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: var(--spacing-sm);
    grid-area: pic;
  }

  .contact-pic-container img {
    width: clamp(200px, 25vw, 300px);
    height: clamp(200px, 25vw, 300px);
    max-width: 90%;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
  }
}

@media (min-width: 767px) and (max-width: 991px){
  .contact-container {
    background-color: {{ site.mytheme.vibrant.contact }};
    //background-image: url('images/90s-background.png');
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head"
      "pic text"
      "footer footer";
    grid-column-gap: var(--spacing-sm);
  }

  .contact-pic-container {
    grid-area: pic;
    position: relative;
    display: inline-block;
    margin: var(--spacing-sm);
    //padding: var(--spacing-sm);
  }

  .contact-pic-container img {
    width: clamp(200px, 25vw, 300px);
    height: clamp(200px, 25vw, 300px);
    max-width: 90%;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    padding: var(--spacing-xl);
  }
}

@media (min-width: 992px) {
  .contact-container {
    background-color: {{ site.mytheme.vibrant.contact }};
    //background-image: url('images/90s-background.png');
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head head"
      "left pic text text"
      "footer footer footer footer";
    grid-column-gap: var(--spacing-md);
  }

  .contact-pic-container {
    position: relative;
    display: inline-block;
    margin: var(--spacing-sm);
    grid-area: pic;
  }

  .contact-pic-container img {
    width: clamp(250px, 20vw, 400px);
    height: clamp(250px, 20vw, 400px);
    max-width: 90%;
  }

  .contact-text-container {
    grid-area: text;
    color: white;
    padding-right: var(--spacing-xl);
  }
}

.career-links {
  // animation: blink 1s steps(2, start) infinite;
  // -webkit-animation: blink 1s steps(2, start) infinite;
}

.contact-pic-container .career-pic {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  align-self: center;
  overflow: hidden;
}

.contact-title {
  color: white;
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: left;
  margin-bottom: var(--spacing-sm);
  line-height: 100%;
  max-width: clamp(10rem, 20vw, 15rem);
}

.contact-text-container hr {
  width: 100%;
  height: var(--border-width);
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 0 none;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-text-container a {
  font-size: clamp(2rem, 10vw, 4rem);
  text-decoration: none;
  color: #0BC;
}

.contact-text-container > a:focus-visible,
.contact-text-container > a:hover {
  color: #8c52ff;
  outline: 2px solid #0BC;
  outline-offset: 2px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
