.contact-container {
  background-color: {{ site.mytheme.blueaccent.contact }};
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left pic right"
    "left contact right"
    "footer footer footer";
  grid-gap: 10px;
}


@media (min-width: 992px) {
  .contact-container {
    background-color: {{ site.mytheme.blueaccent.contact }};
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head head head"
      "left pic contact"
      "footer footer footer";
    grid-gap: 10px;
  }
}

.contact-pic-container img {
  width: 300px;
  height: 300px;
  align-self: center;
}

.contact-pic-container {
  grid-area: pic;
}

.contact-text-container {
  grid-area: contact;
  align-self: center;
  color: white;
  font-family: Source Sans Pro;
  align-items: center;
}

.contact-title {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 5vmin;
  text-align: left;
  margin-bottom: 1vmin;
  line-height: 100%;
  max-width: 20vmin;
}

.contact-text-container hr {
  width: 100%;
  height: 0.2vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-text-container a {
  font-size: 10vmin;
  text-decoration: none;
  color: white;
}

.contact-text-container > a:focus,
.contact-text-container > a:hover {
  color: #3c3838;
}
