.garden-content {
  padding: 2rem;
}
.garden-main {
  display: flex;
  flex-direction: column;
}
@media (max-width: 666px){
  .garden-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 667px){
  .garden-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.garden-header {
  padding: 2rem;
}

.garden-item {
  box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  padding: 2rem;
  text-align: center;
  border-radius: 4px;
  width: 95%;
}

.garden-item-borders {
  border-top: 1px solid #0BC;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.garden-item-borders:hover {
  border-top: 1px solid #00CC29;
}

.garden-item:hover {
  box-shadow: 0px 8px 6px 2px rgba(255, 255, 255, 0.4);
}

.garden-motivation {

}
