.main-container {
  background-color: {{ site.mytheme.highcontrast.mainpage }};
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left title right"
    "left whoiam right";
  grid-gap: 10px;
}


.title-one {
  grid-area: title;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 900;
  font-size: 20vmin;
  text-align: center;
  margin: 1vw 0 1vw 0;
  line-height: 100%;
}

.subtitle {
  color: white;
  font-family: Source Sans Pro;
  font-size: 2vmin;
  text-align: center;
  margin-top: 0.5vmin;
  line-height: normal;
}

.subtitle hr {
  width: 90%;
  height: 0.5vmin;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyright {
  grid-area: whoiam;
  font-family: Source Sans Pro;
  font-size: 10px;
  line-height: 18px;
  color: #FFF;
}
