body {
  font-family: Inconsolata, monospace;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #CCC;
}


a:link {
  color: #0BC;
  text-decoration: none;
}

a:visited {
  color: #0BC;
  text-decoration: underline;
}

.main-container {
  background-color: {{ site.mytheme.vibrant.mainpage }};
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "left title right"
    "left whoiam right";
  grid-gap: 10px;
}


.title-one {
  grid-area: title;
  color: #FFF;
  font-style: normal;
  font-size: 20vmin;
  text-align: center;
  margin: 1vw 0 1vw 0;
  line-height: 100%;
}

.subtitle {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 2vmin;
  text-align: center;
  margin-top: 0.5vmin;
  line-height: normal;
}

.subtitle hr {
  width: 90%;
  height: 0.5vmin;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border: 0 none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyright {
  grid-area: whoiam;
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 18px;
  color: #FFF;
}

.nineties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 18px;
  color: #8c52ff;
  margin: auto;
  align-self: center;
}

ul {
  list-style-type: none;
}

footer {
  padding: 2rem;
}

@media (max-width: 666px){
  footer {
    font-size: 2.5vmin;
    .copyright {
      font-size: 2.5vmin;
    }
  }
}

@media (min-width: 667px){
  footer {
    font-size: 1.5vmin;
    .copyright {
      font-size: 1.5vmin;
    }
  }
}
